.login {
  font-family: "Bebas Neue", cursive;
  color: var(--secondary-color);
  font-size: 3rem;
  background-color: var(--primary-color);
}

a.login,
a:hover.login,
a:visited.login,
a:active.login {
  color: white;
  text-decoration: none;
}
