.playerinfoBox {
  display: grid;
  grid-template-areas: "picture username userpick";
  width: 22.5rem;
  height: 4.5rem;
  border-radius: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.eliminated {
  display: grid;
  grid-template-areas: "picture username userpick";
  width: 22.5rem;
  height: 4.5rem;
  border-radius: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  opacity: 50%;
}

.playerinfoPicture {
  grid-area: picture;
  border-radius: 100%;
  border: 0.1em solid white;
  justify-self: center;
  align-self: center;
  object-fit: cover;
  height: 3.125rem;
  width: 3.125rem;
}

.playerinfoUsername {
  grid-area: username;
  font-size: 1.25rem;
  justify-self: center;
  align-self: center;
}

.playerinfoPick {
  grid-area: userpick;
}

.pick {
  grid-area: pick;
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
}

.pickLogo {
  height: 1.875rem;
  margin-left: 0.5rem;
}

.opponent {
  font-size: 0.65rem;
  text-align: center;
  margin: 0.25rem;
}

.opponentLogo {
  height: 0.875rem;
  margin-left: 0.5rem;
}
