.container {
  display: grid;
  height: 100vh;
  background-color: var(--primary-color);
}

.title {
  text-align: center;
  color: var(--secondary-color);
  font-size: 3rem;
  margin: 0;
  padding: 6rem;
}

.logo {
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  bottom: 0;
}
